# Игнорирование папки .idea
.idea/

# Игнорирование временных файлов Python
__pycache__/
*.pyc

# Игнорирование файлов среды выполнения
venv/
env/
*.log

# Игнорирование пользовательских файлов PyCharm
*.iml

# Игнорирование файлов операционной системы
.DS_Store
Thumbs.db